.container {
    padding: 12px 0;
    border-top: 1px solid slategrey;
}

.title {
    font-size: 1.6rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: grey;
    margin-top: 0;
}

.label {
    font-size: 1.4rem;
    display: block;
    margin-bottom: 10px;
}

.labelGroup {
    display: flex;
    justify-content: space-between;
}

.min, .max {
    font-size: 1.4rem;
}

.input {
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
}