.container {
    width: 100%;
    height: auto;
}

.enabled{
    border: 1px solid;
}
.disabled{
    border: none;
    background: none;
}
.inactive{
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}
.active{
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}
.submenu{
    overflow: hidden;
}
